---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../assets/logo.jpg';

import { Instagram, Facebook } from "simple-icons-astro";
---

<Layout>
	<div class="flex flex-col items-center justify-center h-dvh p-6 gap-6 text-center">
		<div>
			<Image class="w-24 h-24 rounded-2xl overflow-hidden mb-4 mx-auto" src={logo} alt="The Dragon's Last Wish ЁЯРЙЁЯФе" />
			<h1 class="sarun sm:text-2xl text-xl text-[#963743] mb-2">р╕Бр╕┤р╕Ир╕Бр╕гр╕гр╕бр╕Юр╕Ър╕Ыр╕░р╕кр╕▓р╕вр╕гр╕лр╕▒р╕к р╕Др╕гр╕▒р╣Йр╕Зр╕Чр╕╡р╣И 10</h1>
			<p class="text-sm sm:text-base">ЁЯМй IT Sairahut 10 | The Dragon's Last Wish ЁЯРЙЁЯФе</p>
		</div>
		<div class="flex items-center flex-col">
			<p>р╕Вр╕Ур╕░р╕Щр╕╡р╣Йр╕Бр╕┤р╕Ир╕Бр╕гр╕гр╕бр╕Юр╕Ър╕Ыр╕░р╕кр╕▓р╕вр╕гр╕лр╕▒р╕к р╕Др╕гр╕▒р╣Йр╕Зр╕Чр╕╡р╣И 10 р╕кр╕┤р╣Йр╕Щр╕кр╕╕р╕Фр╣Бр╕ер╣Йр╕з</p>
			<p>р╕Вр╕нр╕Ър╕Др╕╕р╕Ур╕Чр╕╕р╕Бр╕Чр╣Ир╕▓р╕Щр╕Чр╕╡р╣Ир╕кр╕Щр╣Гр╕И р╣Бр╕ер╕░р╕Ьр╕╣р╣Йр╕Чр╕╡р╣Ир╣Ар╕Вр╣Йр╕▓р╕гр╣Ир╕зр╕бр╕Бр╕┤р╕Ир╕Бр╕гр╕гр╕б</p>
		</div>
		<div>
			<p class="sarun text-xl text-[#963743] mb-2">р╕Хр╕┤р╕Фр╕Хр╕▓р╕бр╕Вр╣Йр╕нр╕бр╕╣р╕ер╕Вр╣Ир╕▓р╕зр╕кр╕▓р╕г</p>
			<div class="flex items-center justify-center gap-6">
				<a class="hover:text-[#963743]" href="https://www.instagram.com/sairahut_itkmitl/" target="_blank" rel="noopener noreferrer">
					<Instagram />
				</a>
				<a class="hover:text-[#963743]" href="https://www.facebook.com/profile.php?id=100094422583248" target="_blank" rel="noopener noreferrer">
					<Facebook />
				</a>
			</div>
		</div>
	</div>
</Layout>
